@media (max-width:700px){
    header .container{
        display:flex;
        flex-direction: column;
    }

    .buttons{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .button{
        margin-top: 5px;
    }
}

@media (min-width:1000px){
    .descricao{
        width: 50%;
    }
}